* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card.flipped {
  transform: rotateY( 180deg );
}

.cardContainer.active {
  opacity: 1;
  visibility: visible;
}


